<header class="header">
  <ul>
      <li class="header_li"><h1>Индивидуальный предприниматель Ромахина Галина Евгеньевна</h1>
          <span class="telephone" title="Телефон Индивидуального предпринимателя">+7(912)0452309</span>
          <a href="http://vk.com/id_galinaroma" title="Сайт Индивидуального предпринимателя">vk.com/id_galinaroma</a>
          <a href="mailto:kisaga@mail,ru" title="Эл.почта Индивидуального предпринимателя">kisaga@mail.ru</a><br><br>
          <a href="">Информация о компании</a><br><br>
          <a href="">Показать реквизиты</a><br>
      </li>
      <li class="header_li">
          <img class="header_image" src="assets/images/header_image.jpg" alt="Hummingbird">
      </li>
  </ul>
</header>