<footer>
  <a href="https://vk.com/share.php?url=" title="Поделиться в vk" target="_blank">
      <img class="network_icons" src="assets/images/vk_icon.png" alt="vk"></a>
  <a href="http://www.facebook.com/sharer.php?url=http://mysite.com" title="Поделиться в facebook" target="_blank">
      <img class="network_icons" src="assets/images/fb_icon.png" alt="fb"></a>
  <a href="http://twitter.com/share?url=http://mysite.com" title="Твитнуть" target="_blank">
      <img class="network_icons" src="assets/images/tw_icon.png" alt="tw"></a>
  <a href="https://connect.ok.ru/offer?url=http://mysite.com" title="Рассказать друзьям в Одноклассинках" target="_blank">
      <img class="network_icons" src="assets/images/ok_icon.png" alt="ok"></a>
  <a href="https://telegram.me/share/url?url=http://mysite.com" title="Отправить в telegram" target="_blank">
      <img class="network_icons" src="assets/images/tg_icon.png" alt="tg"></a>
</footer>
