<div class="photogallery">
  <h2>О компании Индивидуальный предприниматель Ромахина Галина Евгеньевна</h2>
  <ul class="services">
      <li>
          <div class="for_imageService"><img class="image_services" src="assets/images/photosession.jpg" alt="photosession"></div>
          <div class="service_name">Фотосессия в студии</div>
          <div class="service_price">900 ₽/час</div>
      </li>
      <li>
          <div class="for_imageService"><img class="image_services" src="assets/images/postcards.jpg" alt="postcards"></div>
          <div class="service_name">Набор новогодних открыток</div>
          <div class="service_price">350 ₽</div>
      </li>
      <li>
          <div class="for_imageService"><img class="image_services" src="assets/images/plaid.jpg" alt="plaid"></div>
          <div class="service_name">Вязаный теплый плед</div>
          <div class="service_price">790 ₽</div>
      </li>
      <li>
          <div class="for_imageService"><img class="image_services" src="assets/images/cookies.jpg" alt="cookies"></div>
          <div class="service_name">Домашнее овсяное печенье</div>
          <div class="service_price">500 ₽/6шт</div>
      </li>
  </ul>
</div>